#root {
  --headerHeight: 80px;
  --appHeight: calc(100vh - var(--headerHeight));
  --explorerWidth: max(200px, 15%);
  --editorWidth: calc(100vw - var(--explorerWidth));
  --gutterWidth: 15px;
  --sectionHeaderHeight: 40px;
  --editorHeight: calc(
    var(--appHeight) - (var(--gutterWidth) * 2) - var(--sectionHeaderHeight)
  );
  font-family: "Roboto", sans-serif;
}
