name: Frontend

on:
  push:
    branches: [main]
  pull_request:
    paths:
      - '**.ts'
      - '**.js'
      - '**.json'
      - '**.tsx'
      - '.github/workflows/frontend.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 16
          - 18
    env:
      DFX_VERSION: 0.21.0
      SKIP_WASM: true
      MOC_VERSION: 0.11.2
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install dfx
        uses: dfinity/setup-dfx@main
        with:
          dfx-version: ${{ env.DFX_VERSION }}
      - name: Install dfx dependencies
        run: |
          npm i -g ic-mops
          dfx cache install
          cd $(dfx cache show)
          wget https://github.com/dfinity/motoko/releases/download/$MOC_VERSION/motoko-Linux-x86_64-$MOC_VERSION.tar.gz
          tar zxvf motoko-Linux-x86_64-$MOC_VERSION.tar.gz
      - name: Start dfx
        run: |
          dfx start --background
      - name: Build frontend
        run: |
          dfx canister create --all
          npm install
          dfx build react_app
      - name: Stop dfx
        run: dfx stop
